@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}


/*smaller screens*/
@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(250, 250, 250);
  }
    /* NAVBAR COMPONENTS */
  .navbar{
    margin: 50px auto auto auto;
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: space-around;
    color: rgb(82, 82, 82); ;
  }
  .navbar-container a{
    text-decoration: none;
  }
  .photo img{
    width: 100px;
    display: flex;
    padding: 3px 3px;
    margin: 20px 20px;
    border-radius: 10%;
    background-color: rgb(187, 187, 187)
  }
  /* ABOUt ME SECTION */
    .about-me, .project-info {
      margin: 0 auto;
      text-align: center;
    }
    .about-me p{
      text-align: justify;
      padding: 0 20px;
    }
    .about-me h2{
      border-bottom: 1px solid;
      margin-top: 20px;
    }
    .about-me h3{
      margin-top: 15px;
      text-decoration: underline;
    }

    .links img{
      margin: 20px 10px 15px 10px;
      max-width: 100px;
      max-height: 25px;
    }
    .my-skills{
      margin-top: 10px;
    }

    .other-skills{
      margin-top: 10px;
    }
    
    .language-skills p{
      text-align: center;
      margin-bottom: 20px;
    }
  /* PROJECTS ON MAIN PAGE */

    .my-projects{
      display: flex;
      justify-content: center;
      flex-flow: wrap;
      border-bottom: 1px solid;
    }
    .project{
      min-height: 60px;
      min-width: 150px;
      max-width: 150px;
      margin: 10px 10px;
      background-color: rgb(102, 143, 151);
      color: white;
      border: 2px solid white;
      border-radius: 5%;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-bottom: 10px;
    }
    
    /*INDIVIDUAL PROJECTS*/
    .project-description, .project-description p, .project-description h3{
      margin-top: 20px;
      padding: 0 15px;
    }
    #project-description{
      text-align: justify;
    }
    .project-info h2{
      font-size: 20px;
      padding: 0 10px;
    }
  }


/*Bigger screens*/
@media only screen and (min-width: 701px) {
  body {
    background-color: rgb(250, 250, 250);
  }
  /* NAVBAR COMPONENTS */
    .navbar{
      max-width: 500px;
      max-height: 125px;
      padding-top: 25px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: rgb(82, 82, 82); ;
    }
    .navbar-container a{
      text-decoration: none;
    }
    .photo img{
      width: 100px;
      display: flex;
      padding: 3px 3px;
      margin: 25px 25px;
      border-radius: 15%;
      background-color: rgb(102, 143, 151)
    }

  /* ABOUt ME SECTION */
    .about-me, .project-info {
      max-width: 700px;
      position: relative;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
    }    
    
    .about-me p{
      text-align: justify;
      padding: 0 20px;
    }
    .about-me h2{
      border-bottom: 1px solid;
      padding-top: 20px;
    }
    
    .about-me h3{
      text-decoration: underline;
    }

    .links{
      margin-top: 10px;
      min-height: 80px;
    }
    .links img{
      margin: 15px 20px 10px 20px;
    }
    .links img:hover{
      width: 150px; 
      margin: 0;
    }
    .my-skills {
      max-width: 400px;
      display: inline-block;
    }
    .my-skills img{
      margin: 5px 10px;
    }

    .other-skills{
      margin-top: 10px;
    }
    .language-skills p{
      text-align: center;
      }
      
  /* PROJECTS ON MAIN PAGE*/
    .my-projects{
      display: flex;
      justify-content: center;
    }
    .project{
      min-width: 150px;
      min-height: 100px;
      max-width: 150px;
      max-height: 100px;
      margin: 10px 55px 0px 55px;
      border-radius: 15%;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: rgb(102, 143, 151);
      color: white;
      border: 2px solid white;
    }

    .project:hover{
      transform: rotateX(360deg);  
      transition: transform 0.2s;
      transition-delay: 0.01s;
      transition-timing-function: ease-in;
      background-color: white;
      border: 1px solid;
      color: rgb(102, 143, 151);
    }
    /* INDIVIDUAL PROJECTS */
      #project-description{
        text-align: justify;
      }
      .project-info{
        padding-top: 50px;
      }
      .project-info p, h3 {
        padding-top: 25px;
      }
}


